.dragArea {
  //height: 100%;
  min-height: 10px;
}

@mixin position-absolute() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body, html {
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../shipping.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  //z-index: 0;
}

.surface {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
  outline: none;
  position: relative;
  overflow-y: auto;
}

.board {
  user-select: none;
  white-space: nowrap;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  padding-right: 56px;
  @include position-absolute();
  &-wrapper {
    @include position-absolute();
  }
  &-main {
    height: 100%;
    display: flex;
  }
  &-canvas {
    position: relative;
    flex-grow: 1;
  }
}

.list-wrapper {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.list {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;

  //&__block {
  //  margin:0 15px;
  //}
  //&__head {
  //  display: block;
  //  background-color: #ccc;
  //}
  //&__item {
  //  padding:5px 10px ;
  //  border-bottom: 1px solid #ccc;
  //  display: block;
  //}

  &__title {
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    min-height: 18px;
  }
  &__cards {
    //-webkit-box-flex: 1;
    //flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    //z-index: 1;
    //min-height: 0;
  }
  &__add-card {
    cursor: pointer;
    border-radius: 0 0 3px 3px;
    color: #838c91;
    display: block;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    user-select: none;
  }
  .card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    &__details {
      overflow: hidden;
      padding: 6px 6px 2px 8px;
      position: relative;
    }
    &__labels {
      margin: 2px 0;
      overflow: auto;
      position: relative;
      .label {
        height: 16px;
        line-height: 16px;
        padding: 0 8px;
        max-width: 198px;
        float: left;
        font-size: 12px;
        font-weight: 600;
        margin: 0 3px 3px 0;
        min-width: 42px;
        text-shadow: none;
        width: auto;
        background-color: #51e898;
        border-radius: 3px;
        color: #fff;
        display: block;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
      }
    }
    &__title {
      clear: both;
      display: block;
      margin: 0 0 4px;
      overflow: hidden;
      text-decoration: none;
      word-wrap: break-word;
      color: #4d4d4d;
    }
    &__descriptions {
      float: left;
      max-width: 100%;
      padding-bottom: 2px;
      .description {
        vertical-align: top;
        color: #838c91;
        display: inline-block;
        margin: 0 4px 4px 0;
        max-width: 100%;
        min-height: 18px;
        overflow: hidden;
        position: relative;
        padding: 1px 2px;
        text-decoration: none;
        text-overflow: ellipsis;
        &__text {
          vertical-align: top;
          font-size: 12px;
          padding: 0 2px;
          white-space: nowrap;
        }
      }
    }
  }
}

.shipment {
  &__title {
    text-align: center;
    margin: 4px 0;
    color: #3A96CD;


  }
  &-box {
    border-radius: 5px;
    padding: 0;
    border: 3px solid #1892B2;
    margin-bottom: 5px;
    .placeholder {
      color: #838c91;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50px;
    }
  }
  .card {
    margin: 0 5px 5px;
    &__details {
      display: flex;
    }
    &__labels {
      display: none;
    }
  }
  .list__cards {
    min-height: 50px;
  }
}

.ghost {
  width: 100%;
  opacity: 0.4;
  height: 100%;
}

.addParcel {
  &__bg {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100%;
    max-width: 900px;
    height: 70%;
    max-height: 400px;
    padding: 20px;
    .elements {
      display: flex;
      flex-direction: column;
      height: 50px;
      margin: 5px 5px;
      font-size: 16px;
      color: #666666;
      text-shadow: 1px 1px 2px #e6e6e6;
    }
    .el {
      &1 {
        flex: 1 1 100%;
      }
      &2 {
        flex: 1 1 30%;
      }
      &3 {
        flex: 1 1 25%;
      }
      &4 {
        flex: 1 1 10%;
      }
      &5 {
         flex: 1 1 10%;
       }
      &6 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1 100%;
      }
      &7 {
        flex: 1 1 20%;
      }
      &8 {
        flex: 1 1 20%;
      }
      &9 {
        flex: 1 1 20%;
      }
      &10 {
        flex: 1 1 20%;
      }
    }
  }
  &__input {
    padding: 5px;
    border: 1px solid #e6e6e6;
  }
}